@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@import url("https://fonts.googleapis.com/css?family=Lato");
/* src: https://fonts.google.com/specimen/Noto+Sans 
        https://fonts.googleapis.com/css?family=Lato
*/

/*-----------------------------------------*/
/* Main elements */
:root {
    --navbar_big_height: 80px;
    --navbar_small_height: 60px;
    --light_blue: #9BC4CB;
    --grayish_white: #DDDDDD;
    --dark_blue: #19647E;
    --bright_orange: #EC9A29;
    --watermelon_red: #E86252;
    --pink_orange: #FF9B71;
    --vista_blue: #858AE3;
    --melon_pink: #F4B9B2;      
    --tea_green: #DAEDBD;
    --medium_aquamarine: #56E39F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /* padding is inside width and height */ 
}

html {
    scroll-behavior: smooth;
    transition: scroll-behavior 2s ease;
}

body {
    height: 2000px;
    font-family: 'Noto Sans', sans-serif; 
    color: black;
}
 
.header {
    /* header is always 100% of the window */
    position: relative;
    height: 100vh; 
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    align-items: center;
    border: solid orange;
}

/*-----------------------------------------*/
/* Banner */
.banner {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}

.banner_text {
    display: block;
    font-size: 4rem;
    margin-bottom: 2rem;
}

.banner_icon_item {
    display: block;
    padding: 0.25rem;
    color:inherit;
    text-decoration: none;
    border: 0.1rem solid;
    border-radius: 50%;
    transition: all 1s ease;
}

.banner_icon_item:hover {
    background: #F4B9B2;
    color: #333;
}

.banner_icons {
    width: 50%;
    margin: 0 auto;
    display: grid;
    /* display: grid only works if there is only one child of banner */
    grid-template-columns: 2rem 2rem 2rem 2rem;
    grid-column-gap: 1rem;
    justify-content: center;
}

/*-----------------------------------------*/
/* nav bar */
nav {

    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.5);
    height: var(--navbar_big_height);
    line-height: var(--navbar_big_height);
    transition: all 1s;
}

nav ul {
    text-align: right;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    width: 10%;
}

nav ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    transition: transform 0.5s;
    border-radius: 30%;
}

nav ul li a:hover {
    transform: scale(1.1, 1.1);
    transform: rotate(360deg);
}

.small_nav {
    height: var(--narbar_small_height);
    line-height: var(--navbar_small_height);
}
/*
.big_nav {
    height: var(--narbar_small_height);
    line-height: var(--navbar_small_height);
}
*/

.progress_bar_container {
    width: 100%;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

#progress_bar {
    width: 0%;
    height: inherit;
    background: rgba(0, 0, 0, 0.6);
}
/*-----------------------------------------*/
/* Background video */
.video_container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video_item {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.resume_container {
    width: 180px;
    padding: 0.5rem;
    border: solid;
    border-radius: 35px;
    border-width: 2px;
    text-align: center;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: 10;
    transition: transform 0.5s;
}

.resume_container:hover {
    transform: scale(1.1, 1.1)
}

.resume_container a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: inherit;
    border-radius: 30%;
}

/*-----------------------------------------*/
#about {
    font-size: 10px;
}
/*-----------------------------------------*/
#food {
    padding-top: var(--navbar_small_height);
    border: solid pink;
    background: white;
    z-index: 0;
}

.section_title {    
    color:var(--melon_pink);
    font-size: 40px;
    text-align: center;
    justify-content: center;
}

.section_title_underline {
    width: 250px;
    border-color: var(--vista_blue);
    border: solid 2px;
    margin: 2px auto;
}

.food_container {
    width: 70vw;
    margin: 0 auto;
    
}

.food_item {
    border-radius: 20px;
    position: relative;
    margin: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0));
}


.food_item img {
    display: block;
    border-radius: 20px;
    width: 100%;
    overflow: hidden;
    transition: opacity 2s;
}

.food_item:hover img {
    opacity: 0.5;
}

.food_item_text {
    width: 100%;
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: white;
    text-align: left;
    padding-left: 10px;
    font-family: sans-serif;
    font-weight: 100;
    opacity: 0;
    transition: opacity 2s;
}

.food_item:hover .food_item_text {
    opacity: 1;
}

@media screen and (min-width: 900px) {
    .food_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .food_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.modal_content {
    padding: 0;
    top: 20%;
    margin: 70px auto;
    width: 80%;
    background: white;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
}

.modal_button {
    color: red;
    font-size: 2rem;
    float: right;
    transition: all 0.5s;
}

.modal_button:hover, .modal_button:focus {
    font-size: 3rem;
    cursor: pointer;
}
/*-----------------------------------------*/
/* about */
#about {
    padding-top: var(--navbar_small_height);
    background-image: url("../image/background/color_triangle.jpg"); /* fallback */
    /*
    background: linear-gradient(var(--vista_blue), var(--melon_pink)), transparent;
    background-image:  url("../image/background/color_triangle.jpg");
    */
    background-size: cover; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;
}
/*-----------------------------------------*/
/*-----------------------------------------*/
/*-----------------------------------------*/
/*-----------------------------------------*/
/*-----------------------------------------*/
