@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@import url("https://fonts.googleapis.com/css?family=Lato");
/* src: https://fonts.google.com/specimen/Noto+Sans 
        https://fonts.googleapis.com/css?family=Lato
*/

/*-----------------------------------------*/
/* Main elements */
:root {
    --navbar_big_height: 80px;
    --navbar_small_height: 60px;
    --navbar_big_font_size: 1.3rem;
    --navbar_small_font_size: 1rem;
    --navbar_white: rgba(255, 255, 255, 0.5);
    --navbar_black: rgba(0, 0, 0, 0.8);
    --light_blue: #9BC4CB;
    --grayish_white: #DDDDDD;
    --dark_blue: #19647E;
    --bright_orange: #EC9A29;
    --watermelon_red: #E86252;
    --pink_orange: #FF9B71;
    --vista_blue: #858AE3;
    --melon_pink: #F4B9B2;      
    --tea_green: #DAEDBD;
    --medium_aquamarine: #56E39F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /* padding is inside width and height */ 
}

html {
    scroll-behavior: smooth;
    transition: scroll-behavior 2s ease;
}

body {
    height: 2000px;
    font-family: 'Noto Sans', sans-serif; 
    color: black;
}
 
.header {
    /* header is always 100% of the window */
    position: relative;
    height: 100vh; 
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-90deg, rgba(214, 234, 248), rgba(250, 215, 160));
}

/*-----------------------------------------*/
/* Banner */
.banner {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: rgba(236, 112, 99, 0.8);
}

.banner_text {
    display: block;
    font-size: 4rem;
    margin-bottom: 2rem;
}

.banner_icon_item {
    display: block;
    padding: 0.25rem;
    color:inherit;
    text-decoration: none;
    border: 0.1rem solid;
    border-radius: 50%;
    transition: all 1s ease;
}

.banner_icon_item:hover {
    background: #F4B9B2;
    color: #333;
}

.banner_icons {
    width: 50%;
    margin: 0 auto;
    display: grid;
    /* display: grid only works if there is only one child of banner */
    grid-template-columns: 2rem 2rem 2rem 2rem;
    grid-column-gap: 1rem;
    justify-content: center;
}

/*-----------------------------------------*/
/* nav bar */
nav {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 99;
    /* background-color: hsla(0, 0%, 96%, 0); */
    height: var(--navbar_big_height);
    line-height: var(--navbar_big_height);
    transition: all 1s;
    font-size: 1.3rem;
    opacity: 1;
}

nav ul {
    padding: 5px;
    text-align: right;
    list-style-type: none;
    background-color: var(--navbar_white);
}

nav ul li {

    display: inline-block;
    width: 10%;
}

nav ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    background-color: var(--navbar_white);
    transition: transform 0.5s;
    border-radius: 5px;
}

nav ul li a:hover {
    transform: scale(1.2, 1.2);
}

.small_nav {
    height: var(--narbar_small_height);
    line-height: var(--navbar_small_height);
    font-size: var(--narbar_small_font_size);
}

.anchor_link_highlight {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.9);
}
/*
.big_nav {
    height: var(--narbar_small_height);
    line-height: var(--navbar_small_height);
}
*/

.progress_bar_container {
    width: 100%;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

#progress_bar {
    width: 0%;
    height: inherit;
    background: rgba(0, 0, 0, 0.6);
}
/*-----------------------------------------*/
/* Background video */
.video_container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video_item {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.resume_container {
    width: 180px;
    padding: 0.5rem;
    border: solid;
    border-radius: 35px;
    border-width: 2px;
    text-align: center;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: 10;
    transition: transform 0.5s;
}

.resume_container:hover {
    transform: scale(1.1, 1.1)
}

.resume_container a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: inherit;
    border-radius: 30%;
}




/*-----------------------------------------*/
#project {
    border-top: solid salmon;
    padding-top: var(--navbar_small_height);
    background: white;
    z-index: 0;
    height: 100vh;
    overflow: auto;
}

.section_title {    
    padding-top: 10px;
    color: #AED6F1;
    /* color:var(--watermelon_red); */
    font-size: 40px;
    text-align: center;
    justify-content: center;
}

.section_title_underline {
    width: 250px;
    border-color: var(--vista_blue);
    border: solid 2px;
    margin: 2px auto;
}

.project_container {
    width: 70vw;
    margin: 0 auto;
    
}

.project_item {
    border-radius: 20px;
    position: relative;
    margin: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}


.project_item img {
    display: block;
    border-radius: 20px;
    width: 100%;
    overflow: hidden;
    transition: opacity 2s;
}

.project_item:hover img {
    opacity: 0.5;
    cursor: pointer;
}

.project_item_text {
    width: 100%;
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: white;
    text-align: left;
    padding-left: 10px;
    font-family: sans-serif;
    font-weight: 100;
    opacity: 0;
    transition: opacity 2s;
}

.project_item:hover .project_item_text {
    opacity: 1;
}

@media screen and (min-width: 900px) {
    .project_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .project_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.modal_content {
    padding: 0;
    top: 0;
    margin: 30px auto;
    height: 90vh;
    width: 80vh;
}

.modal_header {
    display: grid;
    justify-content: right;
    height: 10vh;
    width: 100%;
}

.modal_button {
    display: block;
    height: 100%;
    color: rgba(255, 255, 255, 0.9);
    font-size: 2rem;
    text-align: right;
    transition: all 0.5s;
    margin: 0;
}

.modal_button:hover, .modal_button:focus {
    font-size: 3rem;
    cursor: pointer;
}

.modal_image_container {
    display: block;
    height: 70vh;
    width: 70vh;
    margin: auto;
    border-radius: 15px;
    background-image: url("../image/food/Canva\ -\ Burger\ with\ Fresh\ Vegetables.jpg");
    background-size: cover;
}


/*-----------------------------------------*/
/* nature */
#nature {
    padding-top: var(--navbar_small_height);
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.nature_container {
    position: relative;
    margin: 0px;
    height: 80%;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    justify-content: center;
    align-items: center;
}

.nature_front_content {
    overflow: auto;
    display: grid;
    justify-content: center;
    align-items: center;
}

.nature_front_title {
    padding-top: 5px;
    width: 100%;
    text-align: center;
    color: var(--watermelon_red);
}

.nature_front_image {
    display: none;
    transition: opacity 1s linear;
}

.nature_front_image img {
    transition: opacity 1s linear;
    margin: 20px auto; 
    max-width: 80vh;
    max-height: 80vh;
    border-radius: 15px;
    z-index: 100;
}
/*
#nature_front_image4 img {
    display: block;
    opacity: 1;
    transition: inherit;
}
*/



.arrow {
    transition: all 1s ease-in-out;
    color: var(--light_blue);
    font-size: 4rem;
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
}

.arrow:hover, .arrow:focus {
    font-size: 5rem;
    cursor: pointer;
}

/* copied from CodeFluent on Youtube */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

#nature_arrow_left {
    justify-content: right;
}

#nature_arrow_right {
    justify-content: left;
}

.nature_hidden {
    display: none;
}

.nature_item {
    position: relative;
    overflow: hidden;
    margin: 10px auto;
}

.nature_item_title {
    text-align: center;
    padding: 5px;
}

.nature_item img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
}
/*-----------------------------------------*/
/* footer */
#footer {
    background-color: var(--tea_green);
    border-top: solid salmon;
    padding-top: 20px;
    height: 200px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    display: grid;
    align-items: center;
    justify-content: center;
}
/*-----------------------------------------*/
/*-----------------------------------------*/
/*-----------------------------------------*/
